# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
outputs/
.venv/
venv/
env/

# Environment
.env
.env.*

# Large project folders
models/
datasets/

# Data / outputs
reports/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

model/base_llm/
models/base_llm/
foundation_model/base_llm/

*.safetensors
*.bin
*.pt
*.pth
*.gguf

# HuggingFace cache
.cache/
huggingface/
